.header {
    background-color: $color-4;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid $color-1;
}


.bg-big {
    height: 150px;
}

.bg-small {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
}

.logo {
    background: url(../../assets/images/logo.svg)no-repeat;
}

.logo-big {
    height: 100%;
    background-position: center;
}

.logo-small {
    height: 58px;
    width: 300px;
    background-size: contain;
    align-self: center;
}

.bg-avatar {
    height: 62px;
    width: 62px;
    align-self: center;
    border: 2px solid $color-3;
    border-radius: 50%;
    overflow: hidden;
}