.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;

    & .welcome {
        font-weight: 500;
        font-size: 2.75em;
        line-height: 1em;
        margin: 84px 0 18px 0;
    }

    & .filet {
        height: 2px;
        width: 200px;
        background-color: $color-2;
    }

    & .connect {
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1em;
        margin: 22px 0 25px 0;
    }

    & label {
        font-size: 0.9em;
    }

    & input[type="email"],
    & input[type="password"],
    & input[type="text"] {
        padding: 10px;
        border-radius: 4px;
        border: 0;
        font-size: 1em;
    }

    & .error-email,
    & .error-password {
        color: $color-2;
        height: 20px;
        font-size: 0.8em;
        margin-bottom: 10px;
    }

    & .bt-valid {
        background-color: $color-2;
        color: $color-4;
        border: none;
        padding: 10px;
        border-radius: 8px;
        font-size: 1em;
        margin: 50px 0 20px 0;
        width: 230px;
        align-self: center;
    }

    & .required-field {
        text-align: center;
        font-size: 0.7em;
    }

    & .red {
        color: $color-2;
    }
}


// ----  Login only ----
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    line-height: 1.6em;
    font-weight: 300;

    & input[type="email"],
    & input[type="password"] {
        width: 400px;
    }
}

.signin-link {
    font-size: 0.9em;
    text-align: center;
    align-self: center;
    margin-bottom: 40px;
}

// ----  Signin only ----

.avatar {
    width: 100px;
    height: 100px;
    margin: 25px;
    border: 2px solid $color-4;
    border-radius: 50%;
    overflow: hidden;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    line-height: 1.6em;
    font-weight: 300;

    & input[type="email"],
    & input[type="password"],
    & input[type="text"] {
        width: 370px;
    }

    &_line {
        display: flex;
        flex-direction: row;

        &_bloc {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0 8px;

            & .corporate-domain {
                position: absolute;
                font-size: 0.9em;
                color: $color-1;
                top: 32px;
                right: 15px;
            }
        }
    }
}