.new-post-container {
    max-width: 600px !important;
}

.post-new-publication {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    & input[type="text"] {
        @include field;
        background-color: lighten($color-3, 15%);
        color: #000;
        font-family: $font-1;
        margin-bottom: 10px;

        &::placeholder {
            color: darken($color-3, 15%);
        }
    }

    & .new-post-load-image {

        margin: 30px 0 20px;
    }

    & input[type="text"] {
        width: 100%;
    }

    & .new-post-image {
        margin-bottom: 20px;
    }
}

.bt-valid:focus {
    border: 2px solid $color-1;
}