.container {
    width: 550px;
    height: 450px;
    background: $color-4;
    border-radius: 15px;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    color: $color-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 20px;
}

// ----  profile card only  ----
.avatar-profile {
    width: 100px;
    height: 100px;
    margin: 30px;
    border: 2px solid $color-1;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    font-weight: 600;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.service,
.fonction {
    font-weight: 500;
    font-size: 1.6em;
    margin-top: 15px;
    position: relative;
}

.pictos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    position: absolute;
    left: 100%;
    top: calc(100% / 2 - 24px / 2);
    width: 55px;

    & .picto {
        opacity: 0.2;
        font-size: 20px;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }

        &-edit {}

        &-delete {}

    }
}

.space {
    flex-grow: 1;
}

.separatorH {
    height: 1px;
    width: 90%;
    background-color: $color-3;
}

.delete-account {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bt-delete-account {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    color: $color-2;
    font-size: 1.2em;

    &:hover{
        background-color: lighten($color-3, 15%);
        cursor: pointer;
    }
}


// ----  delete profile only  ----

.sad-pic {
    width: 126px;
    height: 126px;
    background: url(../../assets/images/emoji-sad.png) no-repeat;
    margin-top: -60px;
}

.msg-quit {
    font-size: 32px;
    margin-bottom: 20px;
}

.picto-warning {
    width: 36px;
    height: 37px;
    background: url(../../assets/images/picto-warning.svg) no-repeat;
    margin: 15px;
}

.text {
    line-height: 1.3em;
    text-align: center;

    & strong {
        font-weight: 600;
        line-height: 2.4em;
    }

}

.choices {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .bt {
        width: 166px;
        height: 41px;
        border-radius: 5px;
        border: none;
        font-weight: 400;
        font-size: 1em;
        color: $color-4;
        margin: 10px;
        font-family: inherit;
        transition: background 200ms;

        &-stay {
            background: #6FCF97;

            &:hover {
                background: darken(#6FCF97, 15%);
                cursor: pointer;
            }
        }

        &-quit {
            background: $color-2;

            &:hover {
                background: darken($color-2, 15%);
                cursor: pointer;
            }
        }
    }
}